@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/*#region timeline-widget*/
.chaos-container {
  box-sizing: border-box;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
}

.chaos-widget {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  /* min-width: 31rem; */
  padding: .5rem;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.chaos-widget .svg-inline--fa {
  transition: all .05s linear;
  cursor: pointer;
}

.chaos-widget .svg-inline--fa:hover {
  filter: drop-shadow(.1em .1em .3em gray);
  transform: scale(1.1);
}

.chaos-widget .svg-inline--fa:active {
  filter: drop-shadow(.1em .1em .2em gray);
  transform: scale(1.05);
}

.file-input {
  position: absolute;
  top: -1000px;
}

.user-info {
  display: flex;
  flex-flow: row nowrap;
  font-size: larger;
  font-weight: bold;
  background-color: #ebebeb;
  padding: .15rem .5rem;
  color: #2b2b2b;
  border: .1rem solid cornflowerblue;
  box-shadow: .1rem .1rem .8rem lightgrey;
  border-radius: .3rem;

}

.user-name {
  flex: 1 1 auto;
  text-align: center;
  user-select: none;
}

.search {
  border: none;
  background-color: transparent;
  padding: 0 .5em;
  margin: 0 .8em;
  min-width: 4em;
  max-width: 4em;
  transition: max-width .3s ease-out;
}
.search:focus {
  max-width: 40%;
  flex: 1 1 auto;
}

.timeline {
  overflow: auto;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;
}

.post {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 5rem;
  margin: .3rem;
  background-color: whitesmoke;
  color: #2b2b2b;
  border: .05rem solid cornflowerblue;
  box-shadow: .1rem .1rem .8rem lightgrey;
  border-radius: .5rem;
}

.post.pinned {
  border: .1rem solid cornflowerblue;
}

.post-message {
  display: flex;
  flex-flow: column nowrap;
  padding: .5rem 0 .5rem .7rem;
}

.post-content {
  box-sizing: content-box;
  flex-grow: 1;
}

.video-content {
  width: 100%;
}

.file-content {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.file-content .svg-inline--fa {
  font-size: xx-large;
  margin: 0 .5rem 0 0;
}

.picture-content {
  max-width: 100%;
  max-height: 80vh;
  box-shadow: .1rem .1rem .8rem lightgrey;
  cursor: pointer;
}

.post-gps {
  margin-top: .4rem;
  font-size: smaller;
  font-family: monospace;
}

.service-area {
  width: 6em;
  min-width: 6em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.post-time {
  margin: .3rem 0;
  font-size: smaller;
  text-align: center;
}

.post-buttons {
  display: flex;
  justify-content: center;
}

.pin, .star {
  font-size: x-large;
  color:  lightgrey;
  margin: 0 0 .3rem 0;
  flex-basis: 25%;
  opacity: 1;
  transition: opacity .1s linear;
}

.pin {
  transform: translate(0, .05em);
}
.pin.enabled,
.pin .svg-inline--fa:hover {
  color: cornflowerblue;
}

.pin.enabled {
  transform: translate(-.3em, .15em) rotateZ(60deg);
}

.star.enabled,
.star .svg-inline--fa:hover {
  color: orange;
}

.input-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: whitesmoke;
  color: #2b2b2b;
  border: .1rem solid cornflowerblue;
  box-shadow: .1rem .1rem .8rem lightgrey;
  border-radius: .5rem;
  padding: .5rem .7rem;
  user-select: none;
  transition: height .5s ease-out;
}

.text-input {
  flex: 1 1 auto;
  border: none;
  background-color: transparent;
  padding: .5em;
}

.buttons-area {
  font-size: larger;
  margin: 0 .1em 0 .6em;
}

.buttons-area .svg-inline--fa {
  margin: 0 .3em;
}

.video-popup {
  flex-basis: 100%;
  margin: .25rem 0 .5rem 0;
  width: 100%;
}

.drop-area {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #69696990;
  opacity: 0;
  z-index: 999;
  pointer-events: none;
  transition: opacity .15s linear;
}

.drop-text, .drop-icon {
  font-size: xx-large;
  font-weight: bold;
  word-wrap: break-word;
  color: ghostwhite;
  pointer-events: none;
}

.drop-icon {
  font-size: 10rem;
}

.drop-area.dragover {
  opacity: 1;
}
/*#endregion */


/*#region Form */
.modal-dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-content {
  max-width: 35rem;
  min-width: 25rem;
  margin-top: 3rem;
  /* padding: 1rem; */
  background-color: whitesmoke;
  border: 0.05rem solid royalblue;
  border-radius: .5rem;

  box-shadow: .2rem .2rem 2rem grey;
}

.modal-header, .modal-body {
  padding: 1rem 1rem .8rem 1rem;
  border-bottom: .05rem solid lightgray;
  display: flex;
  align-items: center;
}
.modal-body {
  padding-top: .5rem;
}

.modal-title {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

button {
  color: #f0fff0;
  background-color: #017BFF;
  border: 3px solid #017BFF;
  border-radius: .3rem;
  /* margin: 0.5rem 0; */
  user-select: none;
  cursor: pointer;
}

button.close {
  background-color: transparent;
  border: none;
  color: #161616;
  /* margin: 0; */
  padding: 0;
  font-size: large;
}

.modal-body,
.modal-body form {
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: stretch; */
  align-items: stretch;
}

.modal-body p {
  margin: .6em 0 .5em;
}

/* .modal-body form {
  display: flex;
  justify-content: stretch;
} */

.modal-body input {
  /* flex: 1 1 auto; */
  /* align-self: stretch; */
  background-color: whitesmoke;
  color: #2b2b2b;
  border: .05rem solid cornflowerblue;
  box-shadow: .1rem .1rem .4rem lightgrey;
  border-radius: .5rem;
  margin: .5rem 0;
  padding: .5rem .7rem;
  height: 1.2rem;
}

.modal-footer {
  margin: 1rem 1.5rem;
  display: flex;
}

.modal-footer .space {
  flex: 1 1 auto;
}

.modal-footer button.close{
  height: 2rem;
}

.modal-footer .btn-primary,
.modal-footer .btn-secondary {
  font-size: medium;
  height: 2rem;
  min-width: 5rem;
  margin-left: .5rem;
}

.modal-footer .btn-primary:hover {
  background-color: #0069D9;
  border-color: #0069D9;
  cursor: pointer;
  transition: all 0.15s linear;
}

.modal-footer .btn-secondary:hover {
  color: #f0fff0;
  background-color: #0069D9;
  border-color: #0069D9;
  cursor: pointer;
  transition: all 0.15s linear;
}

.modal-footer .btn-primary:active,
.modal-footer .btn-secondary:active {
  border-color: #a2e0f8;
  transition: all 0.06s linear;
}

.btn-secondary {
  color: grey;
  background-color: transparent;
  border: none;
}

button:hover {
  text-shadow: .03em .03em .05em gray;
  transition: text-shadow .1s linear;
}
/*#endregion */

.hidden {
  display: none;
}

.pin.hidden, .star.hidden {
  display: block;
  opacity: 0;
}